<a href="https://colab.research.google.com/github/WheelerMLClub/Python-and-Math-Review/blob/master/ClassesNumpyandPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Review and Fortification

##Classes

In [1]:
class Car():
  def __init__(self,wheels):
    self.wheels = wheelers
  def drive(self):
    if self.wheels <= 0:
      return False
    else:
      return True

Inheritance

In [2]:
class FormulaOneCar(Car):
  def __init__(self,wheels,color):
    super().__init__(wheels)
    self.color = color
  def drive(self):
    if self.wheels <= 4:
      return False
    else:
      return True

Lets try a practice problem:

In [3]:
#Write me a class called Bottle which has a material and volume. Give the bottle a drink function. Then write a class called metal bottle that sets that material to steel.

#Using Pandas

In [4]:
import pandas as pd

##Read data

In [8]:
data = pd.read_csv("/content/sample_data/california_housing_train.csv")
print(data.head())

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

##Grabbing Specific Peices of Data

In [18]:
data["longitude"][0:5]

0   -114.31
1   -114.47
2   -114.56
3   -114.57
4   -114.57
Name: longitude, dtype: float64

In [11]:
data.iloc[0,:]

longitude              -114.3100
latitude                 34.1900
housing_median_age       15.0000
total_rooms            5612.0000
total_bedrooms         1283.0000
population             1015.0000
households              472.0000
median_income             1.4936
median_house_value    66900.0000
Name: 0, dtype: float64

In [19]:
data.iloc[:10,1]

0    34.19
1    34.40
2    33.69
3    33.64
4    33.57
5    33.63
6    33.61
7    34.83
8    33.61
9    34.83
Name: latitude, dtype: float64

##Saving Data

In [23]:
data.iloc[:10,1].to_csv("Split_of_data")

#Numpy